[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {index="downloadpytorch", version="==1.11.0+cu113"}
jupyter = "==1.0.0"
pandas = "==1.4.2"
numpy = "==1.22.3"
tqdm = "==4.64.0"
scikit-learn = "==1.0.2"
plotly = "==5.7.0"
pytorch-lightning = "==1.6.3"
wandb = "==0.12.16"
mypy = "==0.950"
matplotlib = "==3.5.2"
tensorboard = "==2.9.0"
hydra-core = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.8.12"