[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {index="downloadpytorch", version="==1.11.0+cu113"}
jupyter = "*"
pandas = "*"
numpy = "*"
statsmodels = "*"
openpyxl = "*"
tqdm = "*"
scikit-learn = "*"
plotly = "*"
pytorch-lightning = "*"
wandb = "*"
hydroeval = "*"
matplotlib = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.8.12"
